includes:
  - phpstan-baseline.neon

parameters:
  level: 6
  bootstrapFiles:
    - phpstan-bootstrap.php
  ignoreErrors:
    - '#Function .* not found\.#'
  paths:
    - fapi-signals.php
    - uninstall.php
    - src
    - tests
  excludePaths:
    - vendor
    - wporg
    - node_modules
